<h1>Rock Paper Scissors</h1>

<form action='/results' method='get'>

  <button type="button" class="btn btn-info hidePlayerOne player_one">Player One</button>
  <div class="form-group">
    <label id="IDplayerOne" name="playerOne">Enter Word:</label>
    <input id="playerOne" name="playerOne" type="text">
  </div>


  <button type="button" class="btn btn-info hidePlayerTwo player_two">Player Two</button>
  <div class="form-group">
    <label id="IDplayerTwo" name="playerTwo">Enter Word:</label>
    <input id="playerTwo" name="playerTwo" type="text">
  </div>


  <button type="submit" class="btn btn-info">Play!</button>
</form>
